<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="Parknow" value="https://www.myget.org/F/parknow-dotnet/auth/54abb7b8-c5bb-421d-97c5-1b584d0c5312/api/v3/index.json" />
	<add key="PreRelease-Parknow" value="https://www.myget.org/F/parknow-dotnet-preview/auth/8002dccb-11b0-4b08-a6e2-2847a85ef7cb/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="BUILD SERVER" value="true" />
    <add key="Aspnet vnext" value="true" />
    <add key="nuget v2" value="true" />
    <add key="myget v3" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>